<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class = "files content">
        <h2>Main Page</h2>
        <p>This website provides uploading and downloading services.</p>
        <p>At the top right corner of this website, a menu bar will help you guide through every function.</p>
        <p>There is no restriction of data to upload, but we encourage you to downsize your files up to 10mb before uploading.</p>
        <p>Your data is preserved as long as 14 days.</p>
        
        <% if (files.length > 0) {%>
            <% files.forEach(file => { %>
                <h3 class="title"> <%= file.title %></h3>
                <p class="snippet"><%= file.snippet%></p>
            <%});%>
        <% }%>  
        

    </div>
</body>
<%- include("./partials/footer.ejs") %>
</html>