<html lang="en">
    <%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class = "list content">
        <h2>File List</h2>
        <h3> Available Files </h3>
        
        <% if(files){ %>
          <% files.forEach(function(file) { %>
            <div class="card card-body mb-3">
              <%= file.filename %>
                    <form action= "/getfile" method="post"> 
                      <button class="delete">DELETE</button>
                    </form>
                    <form action="/getfile<%= file._id %>?_method=DOWNLOAD" method="post">
                      <button class="download">DOWNLOAD</button>
                    </form>
                      
            </div>
            <% }) %>
              <% } else { %>
                <p>No files to show</p>
                <% } %>
        
    </div>

    

</body>
<%- include("./partials/footer.ejs") %>
</html>